@media screen and (min-width: 600px) {
  body {
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

.world {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin: 30px auto;
  padding: 30px;
  background-color: lightsalmon;
  width: 50vw;
  height: 65vh;
}

table {
  text-align: center;
  vertical-align: middle;
  background-color: whitesmoke;
  margin: auto;
  width: 75%;
  height: 75%;
  animation: slidein;
  animation-duration: 2s;
}

td {
  border: 1px solid darkgray;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

td.dead {
  background-color: gray;
}

td.alive {
  background-color: blue;
}

h1 {
  text-align: center;
  margin: 15px auto;
}

.buttons {
  margin: auto;
  align-self: center;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  height: 20px;
  width: 30vw;
}

button {
  border-radius: 20px;
  margin: 5px;
  width: 130px;
  height: 20px;
  font-size: 13px;
}
